In [8]:
#conda install -c ranaroussi yfinance
#pip install yfinance --upgrade --no-cache-dir

import pandas as pd
import yfinance as yf

yahoo_data=yf.download(['AAPL', 'MSFT'],
 start='2000-01-01',
 end='2010-12-31',
 progress=False, auto_adjust=True,actions='inline')

yahoo_data

                Close            Dividends            High             \
                 AAPL       MSFT      AAPL MSFT       AAPL       MSFT
Date
1999-12-31   0.793253  37.259617         0  0.0   0.793735  37.578757
2000-01-03   0.863657  37.199776         0  0.0   0.867997  37.858002
2000-01-04   0.790842  35.943153         0  0.0   0.853530  37.379284
2000-01-05   0.802415  36.322121         0  0.0   0.853048  37.139917
2000-01-06   0.732975  35.105415         0  0.0   0.825562  36.342083
...               ...        ...       ...  ...        ...        ...
2010-12-23   9.986981  22.559380         0  0.0  10.034818  22.575323
2010-12-27  10.020309  22.376038         0  0.0  10.043764  22.479668
2010-12-28  10.044692  22.328207         0  0.0  10.081418  22.455751
2010-12-29  10.039138  22.296326         0  0.0  10.074938  22.415900
2010-12-30   9.988830  22.200668         0  0.0  10.045924  22.320241

                  Low                  Open            Stock Splits       \
                 AAPL       MSFT       AAPL       MSFT         AAPL MSFT
Date
1999-12-31   0.767695  37.100047   0.778786  37.498972          0.0  0.0
2000-01-03   0.784573  35.743699   0.809166  37.459077          0.0  0.0
2000-01-04   0.780715  35.823476   0.835206  36.242347          0.0  0.0
2000-01-05   0.794700  34.905937   0.800486  35.464432          0.0  0.0
2000-01-06   0.732975  34.586813   0.818810  35.803534          0.0  0.0
...               ...        ...        ...        ...          ...  ...
2010-12-23   9.973710  22.288348  10.030188  22.296320          0.0  0.0
2010-12-27   9.922785  22.224578   9.963832  22.415896          0.0  0.0
2010-12-28  10.032038  22.288349  10.058271  22.296320          0.0  0.0
2010-12-29  10.033273  22.224582  10.067839  22.272412          0.0  0.0
2010-12-30   9.970004  22.144868  10.044998  22.256469          0.0  0.0

               Volume
                 AAPL      MSFT
Date
1999-12-31  163811200  12517600
2000-01-03  535796800  53228400
2000-01-04  512377600  54119000
2000-01-05  778321600  64059600
2000-01-06  767972800  54976600
...               ...       ...
2010-12-23  223157200  24902500
2010-12-27  249816000  21652800
2010-12-28  175924000  23042200
2010-12-29  163139200  19502500
2010-12-30  157494400  20786100

[2767 rows x 14 columns]

In [14]:
#https://github.com/quandl/quandl-python/blob/master/FOR_DEVELOPERS.md
# read more bout Quandl data in above link

import pandas as pd
import quandl
QUANDL_KEY="Weimq6S6shQpCQ9kQfAw"
quandl.ApiConfig.api_key = QUANDL_KEY
df_quandl = quandl.get(dataset='WIKI/AAPL', start_date='2000-01-01', end_date='2010-12-31')
df_quandl

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2000-01-03,104.8700,112.50,101.69,111.94,4783900.0,0.0,1.0,3.369314,3.614454,3.267146,3.596463,133949200.0
2000-01-04,108.2500,110.62,101.19,102.50,4574800.0,0.0,1.0,3.477908,3.554053,3.251081,3.293170,128094400.0
2000-01-05,103.7500,110.56,103.00,104.00,6949300.0,0.0,1.0,3.333330,3.552125,3.309234,3.341362,194580400.0
2000-01-06,106.1200,107.00,95.00,95.00,6856900.0,0.0,1.0,3.409475,3.437748,3.052206,3.052206,191993200.0
2000-01-07,96.5000,101.00,95.50,99.50,4113700.0,0.0,1.0,3.100399,3.244977,3.068270,3.196784,115183600.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2010-12-27,322.8519,325.44,321.52,324.68,8922000.0,0.0,1.0,41.490969,41.823576,41.319801,41.725905,62454000.0
2010-12-28,325.9102,326.66,325.06,325.47,6283000.0,0.0,1.0,41.884003,41.980363,41.774741,41.827431,43981000.0
2010-12-29,326.2200,326.45,325.10,325.29,5826400.0,0.0,1.0,41.923817,41.953375,41.779881,41.804299,40784800.0
2010-12-30,325.4800,325.51,323.05,323.66,5624800.0,0.0,1.0,41.828716,41.832572,41.516428,41.594821,39373600.0
2010-12-31,322.9500,323.48,321.31,322.56,6911000.0,0.0,1.0,41.503576,41.571689,41.292813,41.453456,48377000.0

In [ ]:
# Another source of financial data is intrinio
#https://github.com/intrinio/python-sdk